<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- /** -->
<!--  * author         : leejongseop -->
<!--  * =========================================================== -->
<!--           AUTHOR             NOTE -->
<!--  * ----------------------------------------------------------- -->
<!--        leejongseop       최초 생성 -->
<!--  */ -->
<mapper namespace="org.omsf.report.dao.LogStoreRepository">

	<select id="getLogListByStoreNo" resultType="hashmap">
		SELECT
			*
		FROM LOG_STORE
		WHERE STORENO = #{storeNo}
		ORDER BY LOGNO DESC
		OFFSET 0 ROWS FETCH
		FIRST 20 ROWS ONLY
	</select>
	
	<update id="updateStore" statementType="CALLABLE" >
		CALL store_update_by_log_store(#{logId, mode=IN})
	</update>
	
	<select id="getLogListJSONByStoreNo" resultType="hashmap">
		SELECT
			*
		FROM LOG_STORE
		WHERE STORENO = #{storeNo}
		ORDER BY LOGNO DESC
		OFFSET 20*(#{page}-1) ROWS FETCH
		FIRST 20 ROWS ONLY
	</select>

</mapper>